{% extends "index.html" %}

{% block head %}
    <title>upload page</title>
{%endblock head%}

{% block content %}
`   <form action="#" method="post">
        <p>name</p>
        <p><input type="text" name="name"></p>
       <p>Paste link for original image</p>
        <input type="url" id= "idelpicture" name="imageup1">
        <p>Paste link of similar image</p>
        <input type="url" id= "picture_check" name="imageup2">
        <p><input type="submit" value="submit"></p>
    </form>
{%endblock content%}