{% extends "index.html" %}

{% block head %}
    <title>upload page</title>
{%endblock head%}

{% block content %}

`   <form action="#" method="post">
        <p>name</p>
        <p><input type="text" name="link"></p>
        <p>link of Idel pictures</p>
        <input type="file" id= "idelpicture" name="imageup1">
        <p>link of pictures to be checked</p>
        <input type="file" id= "picture_check" name="imageup2">
        <p><input type="submit" value="submit"></p>
    </form>
{%endblock content%}